<!DOCTYPE html>
<html>
<head>
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="center-page">
    <div class="container">
        <h1>ASCII Art Generator</h1>

        <form action="/ascii-art" method="POST">
            <label>Text</label>
            <textarea name="text" maxlength="2000" placeholder="enter text (max 2000 chars)" required></textarea>

            <label>Banner</label>
            <div class="radio-group">
                <label><input type="radio" name="banner" value="standard" checked> Standard</label>
                <label><input type="radio" name="banner" value="shadow"> Shadow</label>
                <label><input type="radio" name="banner" value="thinkertoy"> Thinkertoy</label>
            </div>

            <button type="submit">Generate</button>
        </form>
    </div>
</div>
</body>

</html>
