<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASCII ART Web</title>
    
</head>
<body>

    <div>
        <h1>ASCII ART Web</h1>

        <form action="/ascii-art" method="POST">
            <label>Enter text:</label>
            <textarea name="text" maxlength="2000" placeholder="enter text (max 2000 chars)" required></textarea>

            <label>Choose a banner:</label>
            <div>
                <label><input type="radio" name="banner" value="standard" checked> Standard</label>
                <label><input type="radio" name="banner" value="shadow"> Shadow</label>
                <label><input type="radio" name="banner" value="thinkertoy"> Thinkertoy</label>
            </div>

            <button type="submit">Generate ASCII Art</button>
        </form>
    </div>

</body>
</html>
