/* reset */
* {
    margin: 0;
    padding: 0;
}

/* body */
body {
    min-height: 100vh;
    font-family: "Arial Black";
    font-size: large;    
    background: #f4f6f8;
    color: #0339ae;
     display: flex;
    justify-content: center;
    align-items: center;
}

/* center pages */
.center {
   width: 50%;
}

/* container */
.container {
    width: 100%;
    text-align: center;
}

/* title */
h1 {
    margin-bottom: 20px;
    color: #0339ae; /* bleu simple */
}

/* form */
form {
    padding: 20px;
    border: 3px solid #2563eb;
    border-radius: 40px;
    background: #d9ebff;
     display: flex;
    flex-direction: column;
    align-items: center;
}

/* labels */
label {
   margin-top: 10px;
}

/* inputs */
textarea,
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    height: 50px;
    border: 3px solid #2563eb;
    border-radius: 20px;
}

/* radio */
.radio-group {
    margin-top: 10px;
    text-align: left;
}

/* button & link */
button,
a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 16px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

/* result */
pre {
    margin-top: 20px;
    padding: 15px;
    border: 3px solid #2563eb;
    border-radius: 20px;
    background: #ffffff;
    overflow: auto;
    text-align: left;
}






