/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base */
body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #222;
}

/* center pages (index + result + error) */
.center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

/* title */
h1 {
    margin-bottom: 20px;
    color: #2563eb; /* bleu simple */
}

/* form */
form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #ffffff;
}

/* labels */
label {
    display: block;
    margin-top: 12px;
    text-align: left;
}

/* inputs */
textarea,
input[type="text"] {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* radio */
.radio-group {
    margin-top: 10px;
    text-align: left;
}

/* button & link */
button,
a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 16px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}a.no-style {
    background: none; 
    color: #333; 
    text-align: center;     
}




/* result */
pre {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #ffffff;
    overflow: auto;
    text-align: left;
    white-space: pre;
}

.github-footer {
    position: fixed;
    bottom: 16px;
    left: 40%;
    display: flex;
    gap: 16px;
}

.github-footer i {
    font-size: 28px;
    color: #333;
    
}




